<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Dear @Model.Recipient (You Fiend),</p>
    <p>How are you? I hope that you are having an agonizing weekend. I'm vacationing in Iceland and living my best life. </p>
    <p>@Model.Recipient, you would not believe how awesome I am. You would be so jealous!</p>
    <p>But I heard you are having a terrible life. Awesome! </p>
    <p>Looking forward to seeing you soon. Can't wait to verify the suckiness of your life. </p>
    <p>Cheers,</p>
    <p>Travel Enthusiast @Model.Sender</p>
  </body>
</html>